/* Styles for Checkout Page */
.checkout-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center; /* Center align text */
}

.checkout-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.total-price-container {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.total-price-container h2 {
    font-size: 24px;
    color: #e35739; /* Color to match your theme */
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.confirm-button {
    background-color: #e35739;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.confirm-button:hover {
    background-color: #d34327;
    transform: translateY(-2px);
}

/* Added styles similar to cart styles */

.page-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.checkout-summary {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.checkout-summary button {
    background-color: #28a745; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.checkout-summary button:hover {
    background-color: #218838; /* Darker green on hover */
}

.go-back-button {
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline-block for proper spacing */
    margin-top: 20px; /* Space above the button */
    text-align: center; /* Center text inside the button */
    margin-left: -50%;
}

.go-back-button:hover {
    transform: translateY(-5px);
    background-color: #0056b3; /* Darker blue on hover */
}
