/* confirm.css */

/* General container for the confirmation page */
.confirm-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.page-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.item img {
    max-width: 150px;
    max-height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.item-details h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.item-details p {
    margin: 5px 0;
}

.item-details .price {
    font-size: 18px;
    color: #e35739;
    font-weight: bold;
}

.total-price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.confirm-button {
    background-color: #28a745; /* Green background */
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    display: block;
    width: 200px;
    text-decoration: none;
}

.confirm-button:hover {
    background-color: #218838; /* Darker green on hover */
    transform: translateY(-2px);
}

.go-back-button {
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 14px; /* Font size */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline-block for proper spacing */
    margin-top: 20px; /* Space above the button */
    text-align: center; /* Center text inside the button */
}

.go-back-button:hover {
    transform: translateY(-5px);
    background-color: #0056b3; /* Darker blue on hover */
}
