<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Food_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>callRegisterServlet</servlet-name>
    <servlet-class>com.food.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>callLoginServlet</servlet-name>
    <servlet-class>com.food.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callLoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>callHomeServlet</servlet-name>
    <servlet-class>com.food.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callHomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>callMenuServlet</servlet-name>
    <servlet-class>com.food.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callMenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.food.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.food.controller.CheckoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>com.food.controller.ConfirmServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/confirm</url-pattern>
</servlet-mapping>
 <servlet>
    <servlet-name>ClearSessionServlet</servlet-name>
    <servlet-class>com.food.controller.ClearSessionServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ClearSessionServlet</servlet-name>
    <url-pattern>/clear</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>com.food.controller.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/orderHistory</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.food.controller.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>
  

</web-app>
